/* Hide scrollbar for all browsers */
html {
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}
